    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><%= link_to "About", about_path %></li>

          <li><%= link_to "Worklist", root_path %></li>
          <li><%= link_to "Contact", contact_path%></li>
        </ul>
    </header>

<div class='content'>
<h1>My Projects</h1>
<ul style="list-style-type:none;">
	<li><%= link_to "About", about_path %></li>
    <li><%= link_to "Patient Worklist", worklist_path %></li>
    <li><%= link_to 'NPI Provider Lookup', '/npi/1104919083' %></li>
    <li><%= link_to "Spotfire Utilization", spotfire_path %> (In Progress)</li>
    <li>DRG Game (Coming Soon)</li>
</ul>

<br>

<label class="textOverImage" style="background-image:url(https://web.opendrive.com/api/v1/download/file.json/NTlfNDgyMTkzNl8?inline=1)">
  <input type="checkbox">
  <h2>Grapes</h2>
  <div>
    Grapes can be eaten fresh as table grapes or they can be used for making wine, jam, juice, jelly, grape seed extract, raisins, vinegar, and grape seed oil
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://web.opendrive.com/api/v1/download/file.json/NTlfNDgyMDc3MV8?inline=1)">
  <input type="checkbox">
  <h2>Raspberry</h2>
  <div>
    The raspberry is the edible fruit of a multitude of plant species in the genus Rubus of the rose family, most of which are in the subgenus Idaeobatus; the name also applies to these plants themselves.
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTMzMTc3NjFf?inline=1)">
  <input type="checkbox">
  <h2>Text Area:<br> Controls</h2>
  <div>
    HTML table tag<br> 4 Property Controls (Input Field, Dropdown list)<br> 4 Action Controls (Button, Image)<br> Icon Images<br> Background Color
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTMzMTc2ODdf?inline=1)">
  <input type="checkbox">
  <h2>Bar Chart:<br> Daily Trend</h2>
  <div>
    Axes, Lines and Curves, Show/Hide Items
  </div>
</label>
<br>

<label class="textOverImage" style="background-image:url(https://lh3.googleusercontent.com/47xLW5uj-0w8M9KsN_fZ4oQ6ADmxuje2dy2DPt1QMBBnKeid2nDkRVkXhabv7QIGguuAv9gf1n9NAzjR0kEHjeaCoxPIWHsscsPxPDNP3bGtcNTOS51BfCY9fmNsfUmwbQrh4Wq0V9Q=w536-h357-no)">
  <input type="checkbox">
  <h2>Bar Chart</h2>
  <div>
    Description, Marking, Lines and Curves, Tooltip, Show and Hide
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://lh3.googleusercontent.com/qwiAhKfdE9ZciRXyLRk4aIpk8xsrlNO3UVm1kHw8H19Z-Ei24l4tQLH827_3fGLcKw84lvp4zgXOsbTazJLZIqhJFdF5ELRrN8MoRxVOMyfGhMh9VsLiJFPaam4A4kLgzOEEzXc2rBQ0OpD2Bh7XIcCMW-4CoV_Cvtu_2yvtNGKPxbUN4cPhRWb5KiY7oNc5Uh-WNZPi6MqpFxMuHvLTpLOcPgBC1y-_MYLQ4g4qeBD0VjaoUZO79_mLLYJL-iF8jPCloRSkCaCRwOqMJoii49TLoRPEfkS7N9RNsGFNSo_AcDj41ESrpAT1n8LbIywHp0uOZ6ts56KzPuUQzkYkTO-oIhstbNmmGpSliu29l7b1TY10_0U53R_kc4B1B6T48fNiwb0xMvXs93h_LemJIrhG3ilj6Ex2gYEXgsV-yDy9jNElWfLVlkGGWRml1U8J9ef-HzeDii9vwXAQNVMia3dkl10zxF0X176J5gyNyMkWT4U38FWiFfWqlZe3kCkGgVIERIROM2-kiBwY8-gTIrS4FEj12gH3NmoDdYs0-3-JdPHDQR6VTsF4hO_bG9IzLJHqOviZChTwVjMx27OqMsGIAiJvGcEO5H3Bj_I6PECF6Xgl1ezt5hNUWlL2_wtcuBtdCwkqFWimZB2fbQ8yviw9q2Y0n9fU=w537-h324-no)">
  <input type="checkbox">
  <h2>Bar Chart</h2>
  <div>
    Description, Marking, Custom Expression, Lines and Curves, Tooltip, Show and Hide
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://lh3.googleusercontent.com/vXzCGLZFF-lSS5p4WVXIt0Kt3oVKkWJTKbqlc_z5TLO3kaz8nNCzRqdRzDBQkMAsEsA1SzAqqDzbRmRSz2KwZe1CfgQ-eeWGnTvxxTAyogbC1Bkj8ygfK9bbkxLaRo2SorxHtGCiHWKI9c4R7DdiQhEaCY14jVmJwVqeCfqms7IK_OvNrZxKPCAcfiuH2sa8vU_vLp6mNOp8-ik3JyjTppEleaIvPPZMHKUB5YjrYiMWkEUlGQHip8tOGENwdugYtRza1nRi2oRa5IJhjkJioar9pYagP9jME46W_BEt-sDwDCLDh4szluxzku5IV5q0FSSWJMc6MoE9bv6_2c_VkU1MB-eaLBvvaL1Y-gDh0cpzPy80nEMIR9kcP32PFe4BTSmVRaW0Ty2BPJssehZ1X9njMIOxvr3jFkyIPqlU51iUGWDeqwmwTd2jR1RhOoNvrU0zcPp0Cqpx0BaYXzP1gK-X-pgsfZcgc2I1rJdwjDE-slIqhluDwzocqeeU-wlff1VdTBjG4P8XvWutdeiHnZhUtZ1XOT_jexZ4yQ0_2Aft2K_L1haZT8xnfakr3A3ypt6mWPpPjzUGpr5ZJb5WxE4rHI83NgZDr6DrcG1Ne_B_F3nYN_EqWENRWJd5VgLUQZjw6KwSFAahJzoHapfHTvXWX0vzqvAx=w241-h191-no)">
  <input type="checkbox">
  <h2>Text Area</h2>
  <div>
    HTML table tag<br> 4 Property Controls (Input Field, Dropdown list)<br> 4 Action Controls (Button, Image)<br> Icon Images<br> Background Color
  </div>
</label>
<label class="textOverImage" style="background-image:url(https://lh3.googleusercontent.com/iQ4ez9w-E4fIut__zYsia80LNylY0UGrYxRedhgq9L-k3ErbvvCHLYfjVL-hUThbAcC4VgfG8PvNGuw8K5ZVa6QQd_QUuMqPxplZNWvBms5eKbRRh49_r-CocoXQLQsMrVEiEBq_1FdrQul8Of9HGPgLQ9aVsB1BOz5JpeOcwRcbEOHRakAJo4Y2HR3aD9eYmmwj5gR3TbkKX_McZipW19iNJHAtmwO0l-94JS_rdIiiZNG7quvPDQ8zCTlMb5jFyqpLj2RHPlYs1MCn95FiLiB4lLIyDLBWqMzckYuxGtgiTibvl13r8ukAwtC38rVeeKMO6IDLQbt6hGFVpREK8NTBOBG7FU_Znswzbszp0dKEJbChl1ptIzdSGjiJ3izUPhWyo-xaArWLzMvS01VIxmwPKNojzNAvucZD6lnBs5ify5DP44iExdk0aoRiVQRhtoQJ-kiSIbTxS2aaPta3RcdGWS5ymA1CLTd4SqwFnucuwya0zU99c8bnFALm3DLJ-bD9zXK5873CBdZvgo7rJ5o5b78KsbaRLWWIt-jYWIKsX1HLszS3SK6pOIdTbWoIAbOjgqIw8GizeZpIW_lSelmgu05qXhdTUDzds8fVklinWfiktoGSLdJB9VcicSPwzXG6-iBaxunXyRrG7cDXjaX2bx9mJWG6=w702-h289-no)">
  <input type="checkbox">
  <h2>Colors</h2>
  <div>
    Color Palette, hex value, RGB, shades
  </div>
</label>
<br>
<br>
<%=image_tag("SpotfireUtilizationConsumer.png", :width => 100, :crop => "pad")%>
<br>
<br>

<button class="collapsible">Show Text Over An Image on Click Using Checkboxes</button>
<div class="bodycontent">
  <p></p>
  	<h3>Just need web images, HTML, CSS</h3>
  	<a href="https://codepen.io/zFunx/pen/QvzeBN">Sample Test HTML & CSS Code</a>
  	<pre>https://codepen.io/zFunx/pen/QvzeBN</pre>
  	<pre>Grapes https://web.opendrive.com/api/v1/download/file.json/NTlfNDgyMTkzNl8?inline=1</pre>
  	<pre>Raspberries https://web.opendrive.com/api/v1/download/file.json/NTlfNDgyMDc3MV8?inline=1</pre>
  	<pre>Bananas https://web.opendrive.com/api/v1/download/file.json/NTlfMTMzMTc3NjFf?inline=1</pre>
  	<pre>Oranges https://web.opendrive.com/api/v1/download/file.json/NTlfMTMzMTc2ODdf?inline=1</pre>
</div>

<button class="collapsible">JavaScript Carousel</button>
<div class="bodycontent">
  <p></p>
  	<h3>Want Picture Slide of Projects</h3>
  	<pre>???</pre>

</div>

<button class="collapsible">OCR Images</button>
<div class="bodycontent">
  <p></p>
  	<h3>Want to grab text from images</h3>
  	<pre>???</pre>

</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>


</div>
