<h1>Edit Note for Encounter:</h1>

<%= form_for @note, url: encounter_notes_path(@note_id) do |f| %>
  <div>
    <b><%= f.label :content %></b>
    <br>
    <%= f.text_area :content, size: '50x5' %>
  </div>
  <div>
    <b><%= f.label :staff_initials %></b>
    <br>
    <%= f.text_field :staff_initials %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= link_to "Back to Encounter Notes", encounter_notes_path(@note) %>