    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Worklist", root_path %></li>
  		  
          <li><%= link_to "Create Note", new_encounter_note_path(@encounter_id) %></li>
        </ul>
    </header>

<div class='content'>
<h1>Encounter Notes for <%= @encounter.patient_account_number %></h1>
<h3>Show Notes Page</h3>
<%= @pan %>
<%= @encounter.latitude %>
<%= @encounter.longitude %>

<table id="encounters">
	<tbody>
		<tr>			
			<th>Note Content</th>
			<th>Staff Initials</th>
			
			<th>Note ID</th>
			<th>Internal Patient ID</th>
			<th>Create Date</th>
			<th>Update Date</th>
			<th>Edit Note</th>
			<th>Delete Note</th>
		 <% @notes.each do |note| %>		 
		<tr>			
			<td><%= note.content %></td>
			<td><%= note.staff_initials %></td>
			
			<td><%= note.id %></td>
			<td><%= note.encounter_id %></td>
			<td><%= note.created_at %></td>
			<td><%= note.updated_at %></td>
			<td><%= link_to "Edit Note", edit_encounter_note_path(@encounter_id, note)%></td>
			<td><%= link_to 'Delete Note', encounter_note_path(@encounter_id, note), method: :delete %></td>
		</tr>
		<% end %>

	</tbody>
</table>

<br>
<b>Disclaimer:</b> Fake Data
<br>

<%= link_to("Create note", new_encounter_note_path(@encounter_id)) %>
<br>
<%= link_to 'Go Back to Patient Encounter List', encounters_path, method: :get %>
<br>
<br>

<br>
<h3>BetterDoctor API</h3>
<a href="https://developer.betterdoctor.com/documentation15">BetterDoctor Documentation</a>
<br>

Request URL Parameters for Doctor Search API Call
<UL>
	<LI><b>location</b> = az-phoenix
	<LI><b>latitude</b> = <%= @encounter.latitude %>
	<LI><b>longitude</b> = <%= @encounter.longitude %>
	<LI><b>sort</b> = best-match-desc
	<LI><b>skip</b> = 0
	<LI><b>limit</b> = 5
	<LI><b>user_key</b> = DCA234234352
</UL>

Request URL -> Response Body (JSON Parsed)
<br>
<br>
<b># of Doctors Found: </b>
<%= @doctors['meta']['total'] %> 
<br>
<br>
<h4>Top 5 Local Doctors</h4>
<table>
    <tbody>
        <thead>
            <th>NPI</th>
            <th>Name</th>
            <th>Title</th>
            <th>Picture</th>
        </thead>
	<% @doctors['data'].each do |data| %>
		<tr>
			<td><%= data['npi'] %></td>
	 		<td><%= data['profile']['last_name']%>, 
	 			<%= data['profile']['first_name']%></td>
	 		<td><%= data['profile']['title']%></td> 
	    	<td><img src=<%= data['profile']['image_url']%>></img></td>
		</tr>
	<% end %>
		</tbody>
</table>
<h4>---Example---</h4>
<b>Ruby Code to get JSON value(s):</b> 
<br>
@doctors['data'][0]['profile']['last_name'] = 
<%= @doctors['data'][0]['profile']['last_name'] %>
<br>
@doctors['data'][1]['profile']['last_name'] = 
<%= @doctors['data'][1]['profile']['last_name'] %>
<br>
<h4>Practices</h4>
<% @doctors['data'][0]['practices'].each do |practice| %> 
  <%= practice['name'] %> 
  <br>
<% end %> 
</div>