    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><a href="https://www.changehealthcare.com/">CHC</a></li>
          <li><%= link_to "Worklist", root_path %></li>
          <li><%= link_to "About", static_pages_about_path %></li>
          <li><%= link_to "Back to Notes", encounter_notes_path(params[:encounter_id])%></li>
        </ul>
    </header>

<h1>Add a Note for Encounter:</h1>

<%= form_for @note, url: encounter_notes_path(@encounter_id) do |f| %>
  <div>
    <b><%= f.label :content %></b>
    <br>
    <%= f.text_area :content, size: '50x5' %>
  </div>
  <div>
    <b><%= f.label :staff_initials %></b>
    <br>
    <%= f.text_field :staff_initials %>
  </div>
  <br>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= link_to "Back to Worklist", encounter_notes_path %>