    <header class='clearfix'>
        <ul>
          <li><%= link_to image_tag("ch_delta_red_logo_sm.png"), "https://www.changehealthcare.com/" %></li>
          <li><a href="https://www.changehealthcare.com/">CHC</a></li>
          <li><%= link_to "Home", root_path %></li>
          <li><a href="">About</a></li>
        </ul>
    </header>

<body>
<h1>Patient Worklist</h1>

<h2>Total # of Encounters: <%= Encounter.count %> </h2> 
<h3>Avg Cost per Encounter: $
	<%= (Encounter.sum(:total_cost) / Encounter.count).round(0)  %> </h3>
<h3>Potential ACO Savings: $
	<%= (Encounter.sum(:total_cost) / Encounter.count).round(0)*9  %> </h3>

<table id="encounters">
	<tbody>
		<tr>
			<th>PAN</th>
			<th>Discharge Date</th>
			<th>Zip Code</th>
			<th>Age</th>
			<th>Total Cost</th>
			<th>Transition Notes</th>
		<% @encounters.each do |encounter| %>
		<tr>
			<td><%= encounter.patient_account_number %></td>
			<td><%= encounter.discharge_date %></td>
			<td><%= encounter.zip_code %></td>
			<td><%= encounter.patient_age %></td>
			<td><%= (encounter.total_cost).round(2) %></td>
			<td bgcolor="#F42A4D"><%= link_to 'See Notes', encounter_notes_path(encounter) %></td>
		</tr>
		<% end %>

	</tbody>
</table>

<br>
<b>Disclaimer:</b> Fake Data
<br>
<%= link_to image_tag("CH_REV_red_logo-01-small.jpg"), "https://www.changehealthcare.com/" %>
</body>